.burger-constructor {
  padding: 100px 16px 0;
  max-width: 600px;
}

.burger-ingridients{
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 22vh;
  overflow-y: auto;
}

.burger-head {
  padding-left: 32px;
}

.burger-bottom{
  padding-left: 32px;
}

.color {
  background: #1c1c21
}
