.modal {
  width: 100%;
  max-width: 720px;
  border-radius: 10px;
  position: relative;
  padding: 40px 40px 60px;
  background-color: #1C1C21;
}

.title-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;

}

.btn-close {

}
